/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .indexcat {
  width: 200px;
 }

     body {
      color: white;
      background-color: black;
    }
    
    h1, p {
      text-align: center;
    }
    
    h1 {
      font-family: 'Rancho', cursive;
      font-size: 3em;
      margin-bottom: 5px;
    }
    
    p {
      font-family: 'Walter Turncoat', cursive;
    }
    
    .imgholder {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 20px;
    }
    
    .cat-img {
      position:relative;
      height: 150px;
      left: 0px;
      top: 150px;
      z-index: 1;
     /* border: 1px solid pink; */
    }
    
    .uploaded-img {
      width: 300px;
      height: 300px;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      /* border-radius: 50%; */
    }
    
    .button {
      color: white;
      background-color: #1cd67d;
      padding: 10px 15px;
      border-radius: 10px;
      display: inline;
    }
